@charset "UTF-8";

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.toc-dossier p {
    position: relative;
    display: block;
    z-index: 100;
}
.toc-dossier {
    position: relative;
    display: block;
    float: left;
    width: 96%;
    height: 120px;
    padding: 2%;
    background-color: #000;
    border-bottom: 1px solid #333;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in;
    z-index: 3;
}

body.body-toc-ios {
    width: 4150px;/* Ширина оглавления = 410px*число статей */
    margin: 0px; padding: 0px;
    background-color: #000;
}
.toc-list-ios {
    height: 197px;
    margin-top: 0px; margin-right: 0px;
    padding: 0px;
    white-space: normal
}
.toc-list-ios .toc-dossier-number {
    position: absolute;
    margin-top: -60px; margin-left: -35px;
    font-size: 8em;
    font-family: "MyriadPro";
    z-index: -5;
    opacity: 0.4;
}
.toc-list-ios .toc-dossier {
    display: block; float: left;
    width: 329px;
    height: 117px;
    margin-top: 0px; margin-right: 0px;
    padding-top: 57px;
	padding-right: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
    background-color: transparent; color: #efefef;
    border-right: 1px solid #333333; border-bottom: 0px solid #333;
    opacity: 1;
    white-space: normal;
}
.toc-list-ios .toc-dossier:last-child {
    width: 350px;
    border-right: 0px solid #000;
}
.toc-list-ios .toc-dossier:hover h1 {
    color: #fff;
}

.toc-list-ios .toc-dossier p {    color: #9a9a9a }
.toc-list-ios h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 1.2em;
    font-family: "MyriadPro";
    line-height: 1.1em;
}
.toc-list-ios p {
    color: efefef !important;
    font-size: 1em;
    text-transform: none;
    line-height: 1.2em !important
}